{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/entypo.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mouldifi-core.css' %}" rel="stylesheet">
    <link href="{% static 'css/sweetalert2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/loading.css' %}" rel="stylesheet">
    <title>Graphics</title>
</head>
<body>
<div class="page-container">
    <div class="main-container" id="vue-container">
        <div class="main-content container">
            <div v-if="searching" class="loading">Loading</div>
            <div class="form-group">
                <form class="form-action">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectTurn">Set Goal Turn</button>
                </form>
            </div>
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading clearfix">
                        <div class="panel-title"><h1>Shipped Completed </h1></div>
                        <ul class="panel-tool-options">
                        </ul>
                    </div>
                    <div class="panel-body">
                        <canvas id="shipped_completed" width="600" height="330"></canvas>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="selectTurn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="exampleModalLongTitle">Change the goal turn</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="">
                                <div class="form-group">
                                    <div>
                                        <label for="goalTurn" class="col-form-label">Select the turn:</label>
                                        <select class="form-control" aria-label="Default select example">
                                        <option value="first_turn">First Turn</option>
                                        <option value="second_turn">Second Turn</option>
                                    </select>
                                    </div>
                                    <div style="margin-top: 20px">
                                        <label for="goalTurn" class="col-form-label">Introduce the goal:</label>
                                        <input type="text" class="form-control" label="Introduce the goal">
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeGoal">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/metismenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/vue-resource.js' %}"></script>
<script src="{% static 'js/js.cookie.js' %}"></script>
<script src="{% static 'js/sweetalert2.min.js' %}"></script>
<script src="{% static 'js/d3.v3.js' %}"></script>
<script src="{% static 'js/c3.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
<script>
    function buildGraph(canvas_id, type) {
        var ctx = document.getElementById(canvas_id).getContext('2d');
        var graph = new Chart(ctx, {
            type: type,
            data: {
                labels: [],
                datasets: [{
                    label: ['Orders'],
                    data: [],
                    backgroundColor: [],
                },{
                    type: 'line',
                    label: 'Goal',
                    data: [],
                    backgroundColor: ["blue"],
                }],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        max:5000,
                    }
                }
            }
        });
        return graph;
    }

     function createGraphs() {
        graph_shippedCompleted = buildGraph("shipped_completed", "bar");
     }

    var graph_shippedCompleted = null;
    $(document).ready(function () {
        createGraphs();
        v.loadData();

    });
    Vue.http.headers.common['X-CSRFTOKEN'] = Cookies.get('csrftoken');
    v = new Vue({
        delimiters: ['[[', ']]'],
        el: '#vue-container',
        data: {
            searching: true,
            data: [],
            goalTurn: 0,
        },
        methods: {
            loadData: function () {
                this.searching = false;
                this.insertDataIntoGraph(graph_shippedCompleted,4000,"First Turn",this.goalTurn, "orange");
                this.insertDataIntoGraph(graph_shippedCompleted,3100,"Second Turn",this.goalTurn, "orange");
                graph_shippedCompleted.update();
                if (graph_shippedCompleted.data['datasets'][0].data[0] >= graph_shippedCompleted.data['datasets'][1].data[0]){
                    graph_shippedCompleted.data['datasets'][0].backgroundColor[0]="green";
                    graph_shippedCompleted.update();
                }
                if (graph_shippedCompleted.data['datasets'][0].data[1] >= graph_shippedCompleted.data['datasets'][1].data[1]){
                    graph_shippedCompleted.data['datasets'][0].backgroundColor[1]="green";
                    graph_shippedCompleted.update();
                }
            },
            insertDataIntoGraph: function (graph, field,label, goal,background) {
                graph.data.labels.push(label);
                graph.data['datasets'][0].data.push(field);
                graph.data['datasets'][1].data.push(goal);
                graph.data['datasets'][0].backgroundColor.push(background);
                graph.update();
            },
            setGoalTurn: function () {
                graph_shippedCompleted.destroy();
                createGraphs();
                this.loadData();
            },
        }
    });
</script>
</html>